*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    height: 100vh;
    background-image: linear-gradient(to bottom, #b8307c, #4a3f6d); 
    overflow: hidden;
}
h4{
    text-align: center;
    font-size: medium;
}